<a href="https://colab.research.google.com/github/jangmii/jangmi.github.io/blob/master/%EB%80%A8%ED%98%84T.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1~2: 3(4),5(35)
sum = 0
for m in range(5):
   for n in range(m + 1):
      sum = sum + (n + 1)
print(n)
print(sum)

4
35

In [3]:
#3: 1(4개)
count = 0
i = 1
while count < 5:
   while i < 5:
      print("*")
      i = i + 1
   count = count + 1

*
*
*
*

In [15]:
#4: 2(20)
data = [10, 20, 30, 40, 50]
for i in data:
  if i == 30:
    break
  print(i)

10
20

In [12]:
#5~6: 2(B),2(B)
score=int(input("점수를 입력하세요:"))
if score>=80:
    print("B")
elif score>=90:
    print("A")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

점수를 입력하세요:85
B

In [16]:
#7~8: 2(b), 3(['c',4])
data=[["a",1],["b",2],["c",3]]
for i in data:
    i[1]=i[1]+1
print(data[1][0])
print(data[2])

b
['c', 4]

In [17]:
#9: 5(11)
count1=0
count2=0
count3=0
for i in range(0,7):
    count1=i+1
    if i==3:
        count2 = i + 1
        break
    count3=i+1

sum=count1+count2+count3
print(sum)

11

In [21]:
#10:2(20)
flag=10
sum=0
while flag:
    sum=sum+1
    if sum>10:
        flag=flag-2
        sum=sum+1
print(sum)

20

In [23]:
#11~12: 5(F), 2,3,4(B,C,D)
score=int(input("숫자를 입력하세요:"))
if score>=80:
    print("B")
if score>=90:
    print("A")
if score >= 70:
    print("C")
if score >= 60:
    print("D")
else:
    print("F")

숫자를 입력하세요:85
B
C
D

In [24]:
#13~14: 1(1),5(9)
a=[9,1,6,4,5]
x=a[0]
y=a[0]
for i in a:
    if x>= i:
        x=i
    if y<=i:
        y=i
print(x)
print(y)

1
9

In [31]:
#15:2(6)
num=[1,2,3,4,5,6,7,8,9]
#c=1
for i in num:
    for k in num:
      #print("%d 번째:"%c)
      #c+=1
      print("%d" %(i*k))

1
2
3
4
5
6
7
8
9
2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [32]:
#16: 4(28)
num=[]
flag=0
a=[2,3,4,5,6,7,8,9,10,11,12]
for i in a:
    for k in a:
        if i%k==0 and i!=k:
            flag=1
    if flag==0:
        num.append(i)
    flag=0
print(num)

[2, 3, 5, 7, 11]

In [33]:
#17:4(144)
a=1
b=1
count=0
while count<10:
    c=a+b
    print(c)
    a=b
    b=c
    count=count+1

2
3
5
8
13
21
34
55
89
144

In [34]:
#18: 3(15)
sum=0
num=80
if num>90:
    sum=sum+1
    if num>50:
        sum=sum+5
    else:
        sum=sum+10
if num>60:
    sum=sum+15
else:
    if num>60:
        sum=sum+25
    else:
        sum=sum+20
print(sum)

15

In [35]:
#19:1(10)
sum=0
while sum<10:
    sum=sum+4
    while sum<5:
        sum=sum+2
print(sum)

10

In [37]:
#20: 3(12)
a=2
b=0
count=0
while count<5:
    if a!=b:
        b=a
    else:
        b=a+2
        a=b+3
    count=count+1
print(b)

12